* {
    padding: 0%;
    margin: 0%;
}
.icon{
    border: 1px solid;
    border-radius: 50%;
}
.page3{
    background-image: url("/images/background-1.jpg");
}
.card{
    border-radius: 0%;
}
.gallery{
    width: 21rem;
    height: 16rem;
}
.borderclr{
    border-bottom: 2px solid rgb(37, 9, 128);
}
.instructor{
    width: 14rem;
    height: 12rem;
    border-radius: 6%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
.subject{
    color: gray;
}
.navy{
    background-color: rgb(33, 55, 164) !important;
} 
.contact{
    background-color:  rgb(209, 205, 205) !important;
    padding: 7px;
    margin: 3px 8px;
    border-radius: 50%;
}